.sidebar {
  border-right: 1px solid #CCC;
  height: 100%;
  & ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    & li {
      border-bottom: 1px solid #CCC;
      & a {
        padding: 15px;
        display: block;
        text-decoration: none;
      }
    }
  }
}
